.attendeeList {
	padding: 5px;

	> .attendeeList__item {
		position: relative;

		&:not(:first-child) {
			margin-top: 5px;
		}
	}
}

.attendee {
	display: flex;
	flex-direction: column;

	&.draggable {
		&:hover {
			border: 1px solid var(--wcfContentBorder) !important;
			background-color: var(--wcfTabularBoxBackgroundActive);
			cursor: move;
		}
	}

	.box24 {
		align-items: center;
		min-height: 20px;
	}

	.attendeeName {
		flex: 1 auto !important;
	}

	.statusDisplay {
		flex: 0 auto;

		display: flex;
		align-items: center;
	}
}

.attendeeBox {
	> .contentItemLink {
		display: inline-flex;
	}

	&.droppable {
        border: 1px solid var(--wcfContentBorder);

        &.selected {
            background-color: var(--wcfTabularBoxBackgroundActive);
        }
    }
}
